.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  background-color: white;
  z-index: 1;
  transition: transform 550ms;
}

.product:hover {
  transform: scale(1.05);
}

.productInfo {
  height: 50px;
  margin-bottom: 35px;
}

.price {
  margin-top: 5px;
}

.rating {
  display: flex;
}

.product > img {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: gray;
  /* max-width: 200px; */
}

.addButton {
  cursor: pointer;
}
