.row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.homePage {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.carousel .slide {
  background-color: white !important;
}

.carousel__container {
  margin: 15px;
}
